@charset "UTF-8";

/* 게시판 배경 */
.breadcrumbs-v5.breadcrumbs-v5-bg-img-v.3 {
  background: url(../../assets/img/1920x1080/notice.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.breadcrumbs-v5.breadcrumbs-v5-bg-img-v-3 {
  background: url(../../assets/img/1920x1080/question1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

/*--------------------------------------------------
    [Buttons Toggle Custom]
----------------------------------------------------*/
/* Button Custom Toggle */
.btn-group.btn-custom-toggle.open .btn-custom-bg {
  box-shadow: none;
}

.btn-group.btn-custom-toggle.open .btn-custom-bg:after {
  /* 
  color: #00bcd4;
  content: "\f0d8";
   */
}

.btn-group.btn-custom-toggle .btn-custom-bg {
  width: 150px;
  font-size: 13px;
  font-weight: 300;
  color: #34343c;
  background: #fff;
  /* padding: 9px 20px 9px 15px; */
}

.btn-group.btn-custom-toggle .btn-custom-bg:after {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 13px;
  font-family: FontAwesome;
  /* 
  color: #34343c;
  content: "\f0d7";
  */ 
}

.btn-group.btn-custom-toggle .btn-custom-bg:hover, .btn-group.btn-custom-toggle .btn-custom-bg:focus, .btn-group.btn-custom-toggle .btn-custom-bg.focus {
  color: #34343c;
  background: #fff;
  border-color: #fff;
  box-shadow: inset none;
}

.btn-group.btn-custom-toggle .dropdown-menu {
  width: 100px;
  border: 1px solid #444;
  border-radius: 3px;
  box-shadow: none;
  padding: 0;
  margin: 1px 0 0;
}

.btn-group.btn-custom-toggle .dropdown-menu > li > a {
  font-size: 11px;
  font-weight: 300;
  color: #34343c;
  border-bottom: 1px solid #f7f8fa;
  padding: 10px 15px;
}

.btn-group.btn-custom-toggle .dropdown-menu > li > a .dropdown-menu-icon {
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-group.btn-custom-toggle .dropdown-menu > li > a:hover, .btn-group.btn-custom-toggle .dropdown-menu > li > a:focus {
  background: #00bcd4;
  color: #fff;
}

.btn-group.btn-custom-toggle .dropdown-menu > li:first-child > a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.btn-group.btn-custom-toggle .dropdown-menu > li:last-child > a {
  border-bottom: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Button Background White Color */
.btn-custom-bg {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  color: #34343c;
  text-align: left;
  background: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-custom-bg:focus, .btn-custom-bg:active:focus, .btn-custom-bg.active:focus, .btn-custom-bg.focus, .btn-custom-bg:active.focus, .btn-custom-bg.active.focus {
  outline: none;
}

.btn-custom-bg:hover {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-custom-bg:hover, .btn-custom-bg:focus, .btn-custom-bg.focus {
  color: #fff;
  background: #00bcd4;
  border-color: #00bcd4;
  text-decoration: none;
}

.btn-custom-bg:active, .btn-custom-bg.active {
  background-image: none;
  outline: 0;
}

.btn-custom-bg.disabled, .btn-custom-bg[disabled],
fieldset[disabled] .btn-custom-bg {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-custom-bg .btn-base-element-xs {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #f0f0f0;
  padding: 6px 9px;
}

.btn-custom-bg .btn-base-element-sm {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #f0f0f0;
  padding: 9px 11px;
}

.btn-custom-bg .btn-base-element-md {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #f0f0f0;
  padding: 12px 13px;
}

.btn-custom-bg .btn-base-element-lg {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid #f0f0f0;
  padding: 15px 15px;
}

/*--------------------------------------------------
    [Round Switch]
----------------------------------------------------*/

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 5px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #00bcd4;
}

input:focus+.slider {
	box-shadow: 0 0 1px #00bcd4;
}

input:checked+.slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 22px;
}

.slider.round:before {
	border-radius: 50%;
}

/*--------------------------------------------------
    [Present Point CSS]
----------------------------------------------------*/
.chat-point-wrap {
	padding: 0px 30px 15px;
}

.chat-point {
  position: relative;
  
}

.chat-point .chat-point-img-gradient {
  position: relative;
  padding: 0px 30px;
}

.chat-point .chat-point-img-gradient:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  content: " ";
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.chat-point .chat-point-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.chat-point .chat-point-center-align {
  width: 100%;
  height: auto;
}

.chat-point .chat-point-member {
  font-size: 30px;
  font-weight: bold;
  color: #00bcd4;
  line-height: 1.0;
  margin: 0;
}

.chat-point .chat-point-member-position {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.chat-point .chat-point-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}
/* 
.chat-point:hover .chat-point-img-gradient:after {
  background: rgba(255, 255, 255, 0.9);
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.chat-point:hover .chat-point-center-align {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
 */